<div *ngIf="movies.length > 0; else no_movies">
  <h1 class="text-primary">{{ title }}</h1>

  <div class="alert alert-success">{{ movies.length }} movies found</div>

  <ng-template [ngTemplateOutlet]="movieList1"></ng-template>
</div>

<ng-template class="alert alert-warning" #no_movies>
  No movies found
</ng-template>

<ng-template #movieList1>
  <div class="card mb-3" *ngFor="let item of movies">
    <div class="row">
      <div class="col-md-3">
        <img src="{{ item.imageUrl }}" alt="" class="img-fluid rounded-start" />
      </div>

      <div class="col-md-9">
        <div class="card-body">
          <h2 class="card-title">{{ item.title }}</h2>
          <p class="card-text">
            {{ item.description }}
          </p>
          <button class="btn btn-sm btn-outline-primary">Details</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
